<h1><%= @artist.name %></h1>
<table>
  <tr>
    <td>
      <%= button_to "Edit", edit_artist_path(@artist), method: :get %>
    </td>
    <td>
      <%= button_to "Delete", artist_path(@artist), method: :delete %>
    </td>
  </tr>
</table>
<br>
<img src="<%= @artist.image_path %>">
<br>
<br>
<%= button_to "Return to Artist List", artists_path, method: :get %>
